/*******Veles*******/
@font-face {
	font-family: "Veles";
	src: url("font/Veles.otf") format("opentype");
}
/*******Veles*******/

/*******Abys*******/
@font-face {
	font-family: "Abys";
	src: url("font/Abys.ttf") format("truetype");
}
/*******Abys*******/

/*******Comfortaa*******/
@font-face {
	font-family: "Comfortaa";
	src: url("font/Comfortaa.ttf") format("truetype");
}
/*******Comfortaa*******/

/*******Lora*******/
@font-face {
	font-family: "Lora";
	src: url("font/Lora.ttf") format("truetype");
}
/*******Lora*******/

.active {
	color: red!important;
	background-color: unset!important;
}


@media screen and (max-width: 1074px) {
	.navbar .collapse ul li a {
		font-size: 16px;
	}
}

.fav {
	width: 28px;
}
.animat:hover {
	animation: rubberBand .9s 1 alternate;
}

.nav-item .nav-link i {
	width: 40px;
	padding-right:.5em;
	padding-left:.5em;
}
/*Menu*/
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  font-size: 18px;
  font-family: "Comfortaa", sans-serif;
  z-index: 9999;
  transition: background-color 200ms linear;
  transition: .6s;
}

.navbar-brand p {
	font-size: 25px;
	font-weight: bold;
	color: red;
}

.navbar {
	font-size: 18px;
	transition: .4s;
}

.dropdown-menu {
	max-width: 320px; 
	word-wrap: break-word;
}

.navbar.scrolled {
  box-shadow: 0 3px 10px -2px #6f656e;
  background-color: #fff!important;
  color: white;
  transition: background-color 200ms linear;
}

.navbar:hover {
	background-color: white;
}

.navbar:hover .collapse.navbar-collapse ul li a {
	color: black;
}

.navbar .collapse.navbar-collapse ul li a {
	color: white;
	transition: .6s;
}

.navbar .collapse.navbar-collapse ul li a:hover {
	color: red;
	transition: .5s;
}

.navbar.scrolled .collapse ul li a, .scrolled .navbar-brand {
	color: black;
	transition: .2s;
}

.navbar-light .navbar-toggler {
	border-color: 1px solid white
}
.navbar.scrolled .collapse ul li a:hover {
	color: red;
}

.top_button {
	position: fixed;
	text-align: center;
	right: 5em;
	bottom: 5em;
	border:2px solid red;
	border-radius: 50%;
	width: 5em;
	height: 5em;
	overflow: hidden;
	transition: .5s;
	z-index: 9999;
}

.top_button:hover {
	background-color: red;
	border-color: red;
	transition:.5s;
}

.top_button i {
	height: 100%;
	width: 100%;
	font-size: 2.5em;
	color: red;
	padding-top: .4em;
	z-index: 9999;
	transition:.5s;
}

.top_button i:hover {
	color: white;
	transition:.5s;
}

/*     header social icons     */

.header_social_icons {
	position: relative;
	display:table; 
	list-style-type:none;
}

.header_social_icons li { 
	position: relative;
	padding-left:10px; 
	float:left; 
	top: 0px;
	bottom: 5px;
}

.header_social_icons li a { 
	color:#b82b14; 
	border:1px solid #b82b14; 
	padding:8px;
	border-radius:50%;
	transition: .3s;
	display: block;
}

.header_social_icons li a:hover {
	background-color: #b82b14;
	color: white;
	box-shadow: 0 0 20px white;
	transition: .3s;
}

.header_social_icons li i {  
	color:#b82b14;
	width:1em; 
	height:1em; 
	text-align:center;
}
.header_social_icons li a:hover i {  
	color:white;
	transition: .2s;
}

@media screen and (min-width:992px) and (max-width: 1183px) {
	.header_social_icons {
		display: none;
	}
}
@media screen and (max-width:331px) {
	.header_social_icons li:first-child {
		padding-left: 0px;
	}
}