/*************************Menu*************************/
.navbar {
	padding: 0;
}

.main-men {
	text-shadow: 0 0 10px white;
	background: rgba(255,255,255, 0.2)
}

.navbar-dark, .bg-dark {
	background: #263238;
}

.navbar-brand {
	position: relative;
	width: 220px;
	top: .33em;
}

.nav-item .nav-link i {
	width: 40px;
	padding-right:.5em;
	padding-left:.5em;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #263238;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  z-index: 9999;
}

.navbar ul{
    list-style: none;
    position: relative;
    text-align: center;
    margin-right: 100px;
  }
.navbar ul li{
  	float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #263238;
    font-weight: 500;
    z-index: 9999;
}

.navbar ul li:hover{
    background: rgba(0,0,0,.15);
}

.navbar ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.navbar ul li a{
    display: block; 
	padding: 30px 20px;
	color: white; 
	font-size: 1.2em;
	letter-spacing: 1px;
	font-family: 'Lora', serif;
	text-decoration: none;
	transition: .5s;
	width: 100%;
	z-index: ;
}
.navbar ul ul{
	display: none;
	background: rgba(26,32,28, 0.9);
	position: relative; 
	top: 100%;
	left: 0;
	box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.1);
}

.navbar ul ul li{
	float: none; 
	position: relative;
}

.navbar ul ul li a {
	padding: 15px 30px; 
	border-bottom: 1px solid rgba(0,0,0,.05);
}

.navbar ul ul ul {
	position: relative; 
	top:0;
}

.navbar ul li ul{
    transition:.6s;
    min-width: 1px;
    z-index: 9999;
}

.nav-item {
	color: white;
	text-align: center;
}

.navbar-toggler {
	position: relative;
	border:2px solid white;
	margin-left: 0;
	bottom: .66em;
}

.navbar-toggler-icon {
	color: white;
	line-height: 1.5em;
	width: 100%;
}

.dropdown-item {
	padding:.25rem 0 0 0 ;
}

.top_button {
	position: fixed;
	text-align: center;
	right: 5em;
	bottom: 5em;
	border:2px solid lightgray;
	border-radius: 50%;
	width: 5em;
	height: 5em;
	overflow: hidden;
	transition: .5s;
	z-index: 9999;
}

.top_button:hover {
	background-color: rgba(192,192,192, 0.6);
	border-color: white;
	transition:.5s;
	box-shadow: 0 0 20px black;
}

.top_button i {
	height: 100%;
	width: 100%;
	font-size: 2.5em;
	color: lightgray;
	padding-top: .4em;
	z-index: 9999;
	transition:.5s;
}

.top_button i:hover {
	color: #fff;
	transition:.5s;
}

.featurette-heading {
	text-align: center;
	font-size: 30px;
}

.text-slicer {
	width: 60%;
	display: block;
	left: 0;
}
/*************************Menu*************************/
.hwords {
	top: 38%;
	text-align:center;
	color:#fff;
	font-size:3.5em;
	font-family: 'Cormorant', serif;
	font-weight:bold;
	text-shadow:0 0px 7px black, 0 0px 7px black, 0 0px 7px black, 0 0px 7px black;
	transition: 2s;
	z-index:2;
}

.par {
	top:48%;
	font-size:1.8em;
}

.sect {
	height:100vh;
	font-family: "Lora", serif;
}

.sec1 {
	height: 70vh;
	background:url('images/fon1.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	filter: blur(0px);
  -webkit-filter: blur(0px);
}

.sec2 {
	background-color: #fff;
	height: 100%;
}

.col-md-2 a {
	font-size: 18px;
	height: 100%;
	text-align:center;
	padding:1em;
}


#tick:before {
	content: ' ✓ ';
	color: green;
	font-size: 22px;
	font-weight: bold;
}

.carousel , .carousel-item {
	height: 100vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 3em;
	width: 3em;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 1158px) {
	.carousel , .carousel-item {
	display: none;
}
}

.sect.sec1.row.justify-content-center.align-items-center.w-100 {
	margin-left: 0;
}

.featurette-heading.list-group-item.mx-auto {
	height: 3em;
	width: 3em;
	line-height: 2.2em;
	text-align: center;
	padding: 3%;
	border-radius:50%;
	border-color: #28a745;
	color: #28a745;
	border-width: 2px;
	border-style: outset;
	cursor: default;
}

.btn.btn-outline-success.d-block.mx-auto.mt-3 {
	min-width: 12em;
	max-width: 20em;
}

#author {
	font-size: 18px;
}

#green-words {
	color:#28a745; 
	text-decoration: underline;
}

.mailto_link, .mailto_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.mailto_link:hover, .mailto_link a:hover {
	color:red;
	text-decoration: unset;
	transition:.5s;
}

.teleg_link, .teleg_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.teleg_link:hover, .teleg_link a:hover {
	color: #0088CC;
	text-decoration: unset;
	transition:.5s;
}

.viber_link, .viber_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.viber_link:hover, .viber_link a:hover {
	color: #675CA8;
	text-decoration: unset;
	transition:.5s;
}

.skype_link, .skype_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.skype_link:hover, .skype_link a:hover {
	color: #00AFF0;
	text-decoration: unset;
	transition:.5s;
}
/*****************************************footer*****************************************/
.col_white_amrc { 
	color:#FFF;
}

footer { 
	width:100%; 
	background-color:#263238; 
	min-height:1px;
	height: 100%; 
	padding:10px 0px 25px 0px ;
	z-index: 1000;
}
.pt2 { 
	font-size: 22px;
	padding-top:40px ; 
	margin-bottom:20px ;
}

footer p { 
	font-size:16px; 
	color:#CCC; 
	padding-bottom:0px; 
	margin-bottom:8px;
}

.mb10 { 
	padding-bottom:15px ;
}

.footer_ul_amrc { 
	margin:0px ; 
	list-style-type:none ; 
	font-size:16px; 
	padding:0px 0px 10px 0px ; 
}

.footer_ul_amrc li {
	padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{ 
	color:#CCC;
}

.footer_ul_amrc li a:hover { 
	color:#fff; 
	text-decoration:none;
}
.fleft { 
	float:left;
}
.padding-right { 
	padding-right:10px; 
}

.footer_ul2_amrc {
	margin:0px; 
	list-style-type:none; 
	padding:0px;
	font-size: 1.3em;
}

.footer_ul2_amrc li p { 
	display:table; 
}

.footer_ul2_amrc li a:hover { 
	text-decoration:none;
}

.footer_ul2_amrc li i { 
	margin-top:5px;
	color: lightgray;
	transition: .6s;
}

.footer_ul2_amrc li i:hover {
	color:white;
	transition: .6s;
}

.bottom_border { 
	border-bottom:1px solid #323f45; 
	padding-bottom:20px;
}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.foote_bottom_ul_amrc li { 
	display:inline;
}

.foote_bottom_ul_amrc li a { 
	color:#999; 
	margin:0 12px;
}

.social_footer_ul { 
	display:table; 
	margin:15px auto 0 auto; 
	list-style-type:none;  
}

.social_footer_ul li { 
	padding-left:20px; 
	padding-top:10px; 
	float:left; 
}

.social_footer_ul li a { 
	color:#CCC; 
	border:1px solid #CCC; 
	padding:8px;
	border-radius:50%;
	transition: .6s;
	display: block;
	margin-bottom: 1em;
}

.social_footer_ul li a:hover {
	color: white;
	box-shadow: 0 0 20px white;
	transition: .6s;
}

.social_footer_ul li i {  
	width:1em; 
	height:1em; 
	text-align:center;
	transition: .6s;
}