@media screen and (min-width: 1256px) and (orientation:landscape) {
	.med-links {
		display: none;
	}

	.featurette-image.img-fluid.mx-auto.d-block.vid {
		height: 40vh;
	}
}

@media screen and (min-width:992px) {
	.featurette-image.img-fluid.mx-auto.d-block.vid {
		height: 35vh;
	}
}

@media screen and (min-width: 576px) and (max-width: 992px) {
	.hwords {
		font-size: 3em;
		top: 36%;
	}

	.par {
		font-size: 1.5em;
		top: 55%;
	}

	.sec2 {
		height: 100%;
	}

	.featurette-image.img-fluid.mx-auto.d-block.vid {
		height: 40vh;
	}

	.top_button.wow.bounceInDown {
		right: 3em;
		bottom: 3em;
		width: 2.75em;
		height: 2.75em;
	}

	.top_button.wow.bounceInDown i {
		font-size: 1.33em;
	}
}

@media screen and (max-width: 768px) {
	.navbar-nav.mr-auto.dropdown.show {
		height: 100vh;
		overflow-y: auto;
	}
}

@media screen and (max-width: 576px) {
	.sec2 {
		height: 100%;
	}
	.hwords {
		font-size: 2em;
		top: 40%;
	}

	.par {
		font-size: 1.2em;
		top:54%;
	}

	.navbar ul ul{ 
		position: relative;
		z-index: 9999;
        top: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar ul ul li {
    	height: 2.7em;
    	line-height: .6em;
    }

	.navbar ul ul ul {
            position: absolute; 
            left: 100%; 
            top:0;
    }

    .navbar-brand {
    	line-height: 1.5em;
		font-size: 30px;
	}

    .soc_iiicons {
		display: none;
		z-index: 0;
	}

	.foto-gal {
		display: none;
	}
	/*menu*/

	.top_button.wow.bounceInDown {
		right: 3em;
		bottom: 3em;
		width: 2em;
		height: 2em;
	}

	.top_button.wow.bounceInDown i {
		font-size: 1em;
	}

	.col-sm-4 img {
		float: none;
		margin-right: auto;
		margin-left: auto;
		align-items: center;
	}
	.featurette-image.img-fluid.mx-auto.d-block.vid {
		height: 35vh;
	}
}