body {
	background:url(images/city.jpg) no-repeat fixed;
	background-position:center;
	background-size:cover;
}
/*************************Menu*************************/

.featurette-heading {
	text-align: center;
	font-size: 30px;
}

.text-slicer {
	width: 60%;
	display: block;
	left: 0;
}
/*************************Menu*************************/
.hwords {
	position:absolute;
	top: 38%;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:3.5em;
	font-family: 'Cormorant', serif;
	font-weight:bold;
	text-shadow:0 2px 10px black;
	transition: 2s;
	z-index:2;
}

.par {
	position:absolute;
	top:40%;
	font-size:2em;
}

.sect {
	height:100vh;
}

.sec1 {
	height: 70vh;
	background:url('images/fon.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
}

.sec2 {
	background-color: #fff;
	height: 100%;
	overflow: hidden;
}

#author {
	font-size: 18px;
}

.mailto_link, .mailto_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.mailto_link:hover, .mailto_link a:hover {
	color:red;
	text-decoration: unset;
	transition:.5s;
}

.teleg_link, .teleg_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.teleg_link:hover, .teleg_link a:hover {
	color: #0088CC;
	text-decoration: unset;
	transition:.5s;
}

.viber_link, .viber_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.viber_link:hover, .viber_link a:hover {
	color: #675CA8;
	text-decoration: unset;
	transition:.5s;
}

.skype_link, .skype_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.skype_link:hover, .skype_link a:hover {
	color: #00AFF0;
	text-decoration: unset;
	transition:.5s;
}

.elem {
	display:inline-block;
}

.elem li {
	font-size: 18px;
	font-family: "lora", sans-serif; 
}

.num {
	font-family: "Lora", cursive;
	font-size: 25px;
	color: red;
	font-weight: bold;
}

.or {
	color: #eb6425;
}

.pur {
	color: purple;
}

.gre {
	color: #66af20;
}

.bir {
	color: #43b7ba;
}

.sky {
	color: violet;
}

.bl {
	color: blue;
}
.gol {
	color: #FFBF00;
}

figcaption.list-group-item {
	font-family: "Lora", cursive;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
/*****************************************footer*****************************************/
.col_white_amrc { 
	color:#FFF;
}

footer { 
	width:100%; 
	background-color:#263238; 
	min-height:1px;
	height: 100%; 
	padding:10px 0px 25px 0px ;
	z-index: 1000;
}
.pt2 { 
	font-size: 22px;
	padding-top:40px ; 
	margin-bottom:20px ;
}

footer p { 
	font-size:16px; 
	color:#CCC; 
	padding-bottom:0px; 
	margin-bottom:8px;
}

.mb10 { 
	padding-bottom:15px ;
}

.footer_ul_amrc { 
	margin:0px ; 
	list-style-type:none ; 
	font-size:16px; 
	padding:0px 0px 10px 0px ; 
}

.footer_ul_amrc li {
	padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{ 
	color:#CCC;
}

.footer_ul_amrc li a:hover { 
	color:#fff; 
	text-decoration:none;
}
.fleft { 
	float:left;
}
.padding-right { 
	padding-right:10px; 
}

.footer_ul2_amrc {
	margin:0px; 
	list-style-type:none; 
	padding:0px;
	font-size: 1.3em;
}

.footer_ul2_amrc li p { 
	display:table; 
}

.footer_ul2_amrc li a:hover { 
	text-decoration:none;
}

.footer_ul2_amrc li i { 
	margin-top:5px;
	color: lightgray;
	transition: .6s;
}

.footer_ul2_amrc li i:hover {
	color:white;
	transition: .6s;
}

.bottom_border { 
	border-bottom:1px solid #323f45; 
	padding-bottom:20px;
}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.foote_bottom_ul_amrc li { 
	display:inline;
}

.foote_bottom_ul_amrc li a { 
	color:#999; 
	margin:0 12px;
}

.social_footer_ul { 
	display:table; 
	margin:15px auto 0 auto; 
	list-style-type:none;  
}

.social_footer_ul li { 
	padding-left:20px; 
	padding-top:10px; 
	float:left; 
}

.social_footer_ul li a { 
	color:#CCC; 
	border:1px solid #CCC; 
	padding:8px;
	border-radius:50%;
	transition: .6s;
	display: block;
	margin-bottom: 1em;
}

.social_footer_ul li a:hover {
	color: white;
	box-shadow: 0 0 20px white;
	transition: .6s;
}

.social_footer_ul li i {  
	width:1em; 
	height:1em; 
	text-align:center;
	transition: .6s;
}